{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Lista de Profesores</h1>
    <div class="row">
        {% for profesor in profesores %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ profesor.nombre }} {{ profesor.apellido }}</h5>
                    <p class="card-text">Profesor de {{ profesor.profesion }}</p>
                    <p class="card-text"><small class="text-muted">Email: {{ profesor.email }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}